<h1>Add a New Recipe</h1>
<br>

<form action="/recipes" method="POST">

  <p>Name: <input type="text" id="recipe_name" name="recipe[name]"></p></br>

  <h3>INGREDIENTS</h3>

    <% Ingredient.all.each do |i| %>
      &nbsp&nbsp&nbsp&nbsp
      <input type="checkbox" id="ingredient_<%= i.id %>" name="recipe[ingredient_ids][]" value="<%= i.id %>">
      <label><%= i.name %></label><br>
    <% end %>
    <br>
    &nbsp&nbsp&nbsp&nbsp
    <input type="text" id="new_ingredient" name="ingredient[name]" placeholder="Add a new ingredient"><br><br>
    &nbsp&nbsp&nbsp&nbsp
    <input type="text" id="new_ingredient_2" name="ingredient2[name]" placeholder="Add a new ingredient"><br><br>
    &nbsp&nbsp&nbsp&nbsp
    <input type="text" id="new_ingredient_3" name="ingredient3[name]" placeholder="Add a new ingredient"><br><br>

  <br><br>
  <input type="submit" value="Submit">

</form>
