<center>

  <h1>Recipe Database Login</h1>

  <% unless locals.empty? %>
    <%= message %>
  <% end %>

  <form action="/login" method="POST">

    <p>Username: <input type="text" id="username" name="username"></p>
    <p>Password: <input type="text" id="password" name="password"></p>

    <input type="submit" value="Submit">

  </form>

  <br>
  <h3>Go to <a href="/signup">Sign Up</a></h3>

</center>
