<h1>Welcome to the Recipe Database!</h1>
<br><br>

<% if logged_in? %>
  <h3><a href='/recipes'>View All Recipes</a></h3>

  <h3>View Recipes by:</h3>
    <ul>
      <li><a href='/meats'>MEAT</a></li>
      <li><a href='/vegetables'>VEGETABLES</a></li>
      <li><a href='/meals'>MEAL</a></li>
      <li><a href='/types'>TYPE</a></li>
    <ul>

  <br><br>
  <a href="/recipes/new"><button>Add a New Recipe</button></a>

<% else %>
  <p>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Please Log In or Sign Up to view the database
  </p>
  <br>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="/login"><button>Log In</button></a>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="/signup"><button>Sign Up</button></a>
<% end %>
