<% unless locals.empty? %>
  <i><%= message %><br><br></i>
<% end %>

<center>
<h1>Welcome to the Recipe Database!</h1>
<br>
</center>

<% if logged_in? %>
  <h3><a href='/recipes'>View All Recipes</a></h3>

  <h3><a href='/users/:slug'>View My Recipes</a></h3>

  <h3>View Recipes by</h3>
    <% @ingredients.each do |i| %>
      <li><a href="/ingredients/<%= i.id %>"><%= i.name %></a></li>
    <% end %>

  <br><br>
  <a href="/recipes/new"><button>Add New Recipe</button></a>

<% else %>
<center>
  <p>Please Log In or Sign Up to view the database</p>
  <br>
  <a href="/login"><button>Log In</button></a>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="/signup"><button>Sign Up</button></a>
<% end %>
</center>
