<h1>Welcome to the Recipe Database!</h1>
<br>

<% if logged_in? %>
  <h3><a href='/recipes'>View All Recipes</a></h3>

  <h3>View Recipes by</h3>
    <% Recipe.all.each do |r| %>
      <% r.ingredients.all.each do |i| %>
        <li><a href="/ingredients/<%= i.id %>"><%= i.name %></a></li>
      <% end %>
    <% end %>  

  <br><br>
  <a href="/recipes/new"><button>Add New Recipe</button></a>

<% else %>
  <p>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Please Log In or Sign Up to view the database
  </p>
  <br>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="/login"><button>Log In</button></a>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="/signup"><button>Sign Up</button></a>
<% end %>
