<!doctype html>
<html lang="en">
  <head>
    <title>Recipe Database</title>
  </head>
  <body>
		<header>
<<<<<<< HEAD
  			<a href="/">HOME</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <% if logged_in? %>
        <%= current_user.username %>
        &nbsp&nbsp
        <a href="/logout"><button>logout</button></a>
      <% end %>
      <br><br>
=======
			<a href="/">HOME</a>
      <div style="text-align: right">
        current_user.username&nbsp&nbsp&nbsp<a href="/logout" align="right">Log Out</a>
      </div>
>>>>>>> 049e546a603c0a04b25b23ef850e18384daa22bd
      <%= yield %>
  </body>
</html>
